---

---

<footer class="bg-[#191919] text-white text-center py-4">
  <p class="text-2xl mt-7">
    Malou H. <br />Mauritzen
  </p>
  <p class="text-xs mt-7">malou.mauritzen2002@gmail.com</p>
</footer>
