<div class="overflow-hidden whitespace-nowrap text-black text-6xl my-10">
  <div class="animate-marquee flex w-max">
    <span class="mx-8">
      Grafisk Design – UX/UI – Visual Studio Code – Photoshop – InDesign –
      Illustrator – Premiere Pro – After Effects – Figma – Grafisk Design –
      UX/UI – Visual Studio Code – Photoshop – InDesign – Illustrator – Premiere
      Pro – After Effects – Figma – Grafisk Design – UX/UI – Visual Studio Code
      – Photoshop – InDesign – Illustrator – Premiere Pro – After Effects –
      Figma – Grafisk Design – UX/UI – Visual Studio Code – Photoshop – InDesign
      – Illustrator – Premiere Pro – After Effects – Figma – Grafisk Design –
      UX/UI – Visual Studio Code – Photoshop – InDesign – Illustrator – Premiere
      Pro – After Effects – Figma – Grafisk Design – UX/UI – Visual Studio Code
      – Photoshop – InDesign – Illustrator – Premiere Pro – After Effects –
      Figma – Grafisk Design – UX/UI – Visual Studio Code – Photoshop – InDesign
      – Illustrator – Premiere Pro – After Effects – Figma – Grafisk Design –
      UX/UI – Visual Studio Code – Photoshop – InDesign – Illustrator – Premiere
      Pro – After Effects – Figma – Grafisk Design – UX/UI – Visual Studio Code
      – Photoshop – InDesign – Illustrator – Premiere Pro – After Effects –
      Figma – Grafisk Design – UX/UI – Visual Studio Code – Photoshop – InDesign
      – Illustrator – Premiere Pro – After Effects – Figma – Grafisk Design –
      UX/UI – Visual Studio Code – Photoshop – InDesign – Illustrator – Premiere
      Pro – After Effects – Figma
    </span>
  </div>
</div>
